.main-container {
  background-color: var(--clr-body-clr);
}

.title-div-container {
  width: 100%;
  height: 100%;
  background-color: var(--clr-container-clr);
  z-index: 105;
  position: relative;
  padding: 0.5rem 0.5rem;
}

.title-div {
  display: flex;
  gap: 5rem;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  border-radius: 1rem;
  z-index: 105;
  position: relative;
}

/* bolts */
.round {
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(248, 242, 242, 0.855),
    rgba(247, 237, 237, 0.855),
    rgba(192, 190, 190, 0.855)
  );
  box-shadow: 0 0 0 0.3rem rgba(255, 255, 255, 0.55);
}

.left-top {
  left: 1rem;
  top: 1rem;
}
.left-bottom {
  left: 1rem;
  bottom: 1rem;
}
.right-top {
  right: 1rem;
  top: 1rem;
}
.right-bottom {
  right: 1rem;
  bottom: 1rem;
}
.title-div h1 {
  justify-self: center;
  font-size: 3.2rem;
  color: var(--clr-text-clr);
  text-transform: uppercase;
}
.container {
  padding: 0 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  background-color: var(--clr-container-clr);

  gap: 0.5rem;
}

/* ********************** */
/* *******SIDEBAR******* */
/* ********************** */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #fffcfc;
  box-shadow: 0 1rem 1rem 0 rgba(177, 176, 176, 0.855);
  padding: 1.2rem 1.6rem;
  border-radius: 0.9rem;
  left: 0;
  cursor: pointer;
}

.logo-div {
  padding: 0.8rem 0;
  width: 8rem;
}
.logo-div {
  display: inline-block;
  margin-left: 2rem;
}
h1 {
  flex: 0 0 1;
  display: inline-block;
  align-self: center;
  margin: auto;
}

.logo {
  width: 100%;
}

.tool-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
}

.tool-link:link,
.tool-link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #333;
}

.tool-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-list span {
  display: inline-block;
  font-size: 1.6rem;
}

.icons {
  width: 3rem;
  height: 3rem;
  color: var(--clr-title-background);
}

/* ****************** */
/* *****MAIN******* */
/* ****************** */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-title {
  font-size: 1.8rem;
  padding: 0.2rem 1.6rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background2),
    var(--clr-side-background3)
  );
  color: var(--clr-text-clr);
  letter-spacing: 0.15rem;
}
.task-variable {
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background3),
    var(--clr-side-background2)
  );
}

.main-section {
  display: grid;

  grid-template-columns: 50fr 50fr;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 0.5rem 0 0;
}
.main__task-div {
  width: 100%;
  background-color: #ffffffc9;
  border-radius: 0.9rem;

  max-height: 100%;
  font-size: 1.6rem;
  border: 0.5rem solid var(--clr-text-clr);
}

.main__task-div:nth-child(1) {
  position: relative;
  grid-column: 1/-1;
}

.main__task-div:nth-child(4) {
  grid-column: 1/-1;
}

.footer {
  font-size: 1.2rem;

  grid-column: 1/-1;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    var(--clr-side-background3),
    var(--clr-side-background2)
  );
  color: var(--clr-text-clr);
  margin-bottom: 0;
  height: 42px;
  padding: 5px;
}

.div__control {
  margin-top: 0.35rem;
  margin-right: 1rem;
}

.div__control img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.ctrl-icons {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--clr-title-background);
  color: var(--clr-text-clr);
}

/* ************simulation*********** */

/* canvas */
.canvas__div {
  width: 100%;
  border: 1px solid var(--clr-title-background);
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0;
  height: auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
#canvas-container {
  /* display: flex;
  width: 100%;
  height: 420px;
  flex-direction: column; */
  grid-column: 1/-1;
  width: 100%;
  display: block;
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
}
canvas {
  width: 100%;
  /* height: 100%; */
  /* image-rendering: crisp-edges; */
  /* image-rendering: optimizeSpeed; */
  display: block;
  /* background-color: red; */
}

.datatable {
  justify-self: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.newComment {
  grid-column: 1/-1;
  padding: 1rem 2rem;
  border-top: 1px dotted black;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 0.25rem;
}
.data {
  width: 100%;
  padding: 0.25rem;
}

tr {
  text-align: center;
}

td:first-child,
th:first-child {
  padding: 0.25rem;
}

.datatable p {
  margin-bottom: 0;
}
/* #canvas {
  border-left: 1px solid rgba(177, 176, 176, 0.855);
  width: 100%;
  height: 100%;
} */
.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circuit-dia {
  display: inline-block;
  position: relative;
  text-align: center;

  height: auto;
}

.circuit-dia img {
  width: 100%;
}
.cross-img {
  display: flex;
  position: relative;

  height: auto;
  align-items: center;
  justify-content: center;
}
.cross-img img {
  width: 100%;
}
.unit {
  margin-left: -4.5rem;
  margin-top: -6rem;
}

.other-sec {
  flex-wrap: wrap;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
}
.tooltip {
  font-weight: 500;
  position: absolute;
  top: -2rem;
  left: 0;
  background-color: rgba(247, 247, 247, 0.5);
  padding: 0.5rem;
  font-size: 1.1rem;

  display: none;
}
.circuit-dia:hover span,
.cross-img:hover span {
  display: block;
}
.canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#graphscreen1,
#graphscreen2 {
  border-top: 1px solid var(--clr-title-background);
}
/* **********VARIABLES**************** */
#variables {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.settings-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.variables-sections,
.control-sections {
  padding: 2rem 1rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.var-div {
  display: grid;
  grid-template-columns: 80fr 20fr;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}
#comments {
  color: #1b1b1b;
  align-self: stretch;
}

.control-sections {
  height: 100%;
}

/* div#newComment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 39px;
  left: 16px;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  padding: 1px 22px;
} */
.titleincanvas {
  grid-column: 1/-1;
  justify-self: center;
}
